.mainBar{
    margin-top:142px;
    display: flex;
    justify-content: space-between;
    .title{
        width:auto
    }
    .navigation-menu{
        width:auto;
        height: 100px;

    }
}

.cardBook-container{
    // display: flex;
    // flex-flow: wrap;
    // height: 550px;
    // overflow-y: scroll;
    .window{
        width: 100vw;
        display: flex;
        flex-flow: wrap;
        height: 550px;
        overflow-y: scroll;
    }
}