.mainBar{
    margin-top:142px;
    display: flex;
    justify-content: space-between;
    .title{
        width:auto
    }
    .navigation-menu{
        display:flex;
        align-self: center;
        height: auto;
        margin: 10px 0;
        justify-content: space-between;
    }
}

.cardBook-container{

    .window{
        // width: 100vw;
        display: flex;
        flex-flow: wrap;
        height: 100vh;
        overflow-y: scroll;
    }
}