.owner, .title, .author, .published, .pages{
    padding: 3px;
    color: black ;
    span{
        color:rgb(4, 91, 252);
    }
}
.owner{
    text-align: end;
    font-size: 14px;
    margin-top: 0;
}


.mainDiv{
    z-index: -1px;
    border: 2px solid white;
    width: 400px;
	height: 280px;
	border-radius: 15px;
	padding: 15px;
	background:#E0D8D4;
	position: relative;
    display: flex;
	align-items: flex-start;
    transition: 0.4s ease-out;
    margin: 10px;

    &:hover{
        transform: translateY(10px);

    }
    .imageBook{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        position: absolute;
        top: 10%;
        left: 0;
        .imgage{
            align-self: center;
        }
    }

    .bookContent{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 285px;;
        object-fit: cover;
        position: absolute;
        margin-left: 190px;
        border-radius: 15px 0 0 15px;

        .infBook{
            font-size: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

        }
        .bookState, .userRequest{
            margin: 2px;
            span{
                color: red;
            }

        }
    }
}

.detailBook{
    position: absolute;
    z-index: 1px;
    align-self: flex-end;
    width:170px;
    height: 40px;;
    border-radius: 20px;
    background-color: cornflowerblue;
    border: 2px solid #fff;
	box-shadow: 0 0 5px 5px white;
    color: white;
    font-size: 20px;
    &:hover{
        background: rgb(4, 91, 252);

    }
}

.notAvailableBook, .refuseLendBook, .changeBookState, .deleteBook{
    &:hover{
        background: rgb(4, 91, 252);
        color: white;
    }
}

