*{
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    color: $color1;
    font-family: 'Tahoma', 'Geneva', 'sans-serif';
    background: url(../images/books-background.jpeg);
    background-attachment: fixed;
    height: 100vh;
    // min-height: 100vh;
}
h1{
    margin-left: 5%;
    width: max-content;;
    color: white;
}
